<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>VegRes</title>
    <link rel="stylesheet" type="text/css" href="../static/vegetable/home.css" />
  </head>
  <body>
    <!-- header -->
    <div id="header">
      <h1>
        <a>Vegan Restaurant</a>
      </h1>
    </div>
    <div id="back">
      <form action = "{% url 'searchResult'%}" method="post">
        {% csrf_token %}
        <input name="location" placeholder="location">
        <input type="submit" value="search">
      </form>
    </div>
  </body>
</html>
