div#header{
  color: green;
  text-align: center;
}

/* search contents */
.search-location{
  background: #e6e6e6;
}
.search-window{
  float: right;
}

/* search result contents */
.search-conditions{
  margin-left: 50px;
}

.storeImg{
  width:  300px;
  height: 200px;
}

.container{
  border-top: solid #e6e6e6;
  margin-top: 50px;
}
.storeImg, .storeContents{
  float:left;
  border-color: yellow;
  display: inline;
}

.notfound{
  text-align: center;
  font-size: 25px;
  margin-top:50px;
}

/* Iconic See https://useiconic.com/open/ */
/* search iscon */
.oi-magnifying-glass{
  margin-right: 100px;
  padding-top: 10px;
}
