div#header{
  height:77px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
  background-repeat:no-repeat;		/*背景画像を繰り返さない*/
  background-color:#84AD52;		/*ヘッダ部分の背景色*/
  font-weight: bold;
  color:white;
  text-align: center;
}

div#back{
  background-image:url("../img/vegetalianFood.jpg");	/*ヘッダ部分の背景画像*/
  margin: auto;
  width: 1120px;
  min-width: 1120px;
  height: 540px;
  z-index: 10;
  background-repeat: repeat-x;
  background-position: left -150px bottom
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1120px;
    overflow: hidden;
}
div#home{
  color:red;
}
