.storeImg{
  width:  300px;
  height: 200px;
}

div#header{
  color:green;
  text-align: center;
}

.container{
  border-top: solid #e6e6e6;
}
.storeImg, .storeContents{
  float:left;
  border-color: yellow;
}
